/* Rozložení obsahu stránky */
.row {
    margin-bottom: 30px;
}

/* Mezery mezi kartami */
.card {
    margin-bottom: 20px;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
}

/* Adopce a darovat tlačítko */
.btn-adoption {
    background: rgba(0, 128, 128, 1);
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
    min-width: 90px;
    height: 40px;
}

.btn-gift:hover, .btn-adoption:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 128, 128, 1);
    box-shadow: 0 0 0 0.1rem black;
}